<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Kogo | Dashboard</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <link rel="shortcut icon" type="image/png" href="/favicon.png">

        <!-- bootstrap 3.0.2 -->
        <link href="/static/AdminLTE/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- jQuery UI -->
        <link href="/static/scripts/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

        <!-- font Awesome -->
        <link href="/static/AdminLTE/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!-- Theme style -->
        <link href="/static/AdminLTE/css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <!-- Multi select -->
        <link href="/static/scripts/vendor/angular-ui-select/dist/select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/scripts/vendor/select2/select2.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link href="/static/styles/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body data-ng-app="kogoApp" class="skin-green">
        <base href="/">

        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="/" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Kogo
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{ identity.firstName}} {{ identity.lastName}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-hs-green">
                                    <img ng-src="{{ identity.avatar }}" class="img-circle" alt="User Image" />
                                    <p>
                                        {{ identity.firstName}} {{ identity.lastName}}
                                        <small>Web Developer</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img ng-src="{{ identity.avatar }}" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <br/>
                            <p>Hello, {{ identity.firstName }}</p>
                        </div>
                    </div>

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="/">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/projects">
                                <i class="fa fa-th"></i> <span>Projects</span>
                            </a>
                        </li>
                        <li>
                            <a href="/planning">
                                <i class="fa fa-edit"></i> <span>Planning</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side" ng-view>
            </aside><!-- /.right-side -->

        </div><!-- ./wrapper -->

        <!-- jQuery 2.0.2 -->
        <script src="/static/AdminLTE/js/jquery.min.js"></script>

        <!-- jQuery UI 1.10.3 -->
        <script src="/static/AdminLTE/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>

        <!-- Bootstrap -->
        <script src="/static/AdminLTE/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="/static/AdminLTE/js/AdminLTE/app.js" type="text/javascript"></script>

        <!-- Select2 -->
        <script src="/static/scripts/vendor/select2/select2.js" type="text/javascript"></script>

        <!-- File upload for angular -->
        <script src="/static/scripts/vendor/ng-file-upload/angular-file-upload-shim.min.js"></script>

        <!-- Moment.js -->
        <script src="/static/scripts/vendor/moment/min/moment.min.js"></script>

        <!-- load angular classes -->
        <script src="/static/scripts/vendor/angular/angular.js"></script>
        <script src="/static/scripts/vendor/angular-route/angular-route.js"></script>
        <script src="/static/scripts/vendor/angular-sanitize/angular-sanitize.js"></script>
        <script src="/static/scripts/vendor/underscore/underscore.js"></script>
        <script src="/static/scripts/vendor/angular-socket-io/socket.js"></script>

        <!-- ANGULAR RELATED SCRIPTS -->
        <script src="/static/scripts/modules/comments/controllers/CommentsController.js"></script>
        <script src="/static/scripts/modules/projects/controllers/ProjectsListController.js"></script>
        <script src="/static/scripts/modules/boards/controllers/BoardsListController.js"></script>
        <script src="/static/scripts/modules/boards/controllers/BoardController.js"></script>
        <script src="/static/scripts/modules/users/controllers/UserController.js"></script>
        <script src="/static/scripts/modules/sprints/controllers/SprintModalController.js"></script>
        <script src="/static/scripts/modules/tickets/controllers/TicketController.js"></script>
        <script src="/static/scripts/modules/tickets/controllers/TicketModalController.js"></script>
        <script src="/static/scripts/modules/dashboard/controllers/DashboardController.js"></script>
        <script src="/static/scripts/modules/system/controllers/LogoutController.js"></script>
        <script src="/static/scripts/modules/planning/controllers/PlanningController.js"></script>
        <script src="/static/scripts/modules/timeLog/controllers/TimeLogModalController.js"></script>

        <script src="/static/scripts/modules/comments/services/CommentsService.js"></script>
        <script src="/static/scripts/modules/projects/services/ProjectsService.js"></script>
        <script src="/static/scripts/modules/boards/services/BoardsService.js"></script>
        <script src="/static/scripts/modules/sprints/services/SprintsService.js"></script>
        <script src="/static/scripts/modules/lanes/services/LanesService.js"></script>
        <script src="/static/scripts/modules/users/services/UsersService.js"></script>
        <script src="/static/scripts/modules/tickets/services/TicketsService.js"></script>
        <script src="/static/scripts/modules/tags/services/TagsService.js"></script>
        <script src="/static/scripts/modules/ticketActivities/services/TicketActivitiesService.js"></script>
        <script src="/static/scripts/modules/ticketLinks/services/TicketLinksService.js"></script>
        <script src="/static/scripts/modules/system/services/LogoutService.js"></script>
        <script src="/static/scripts/modules/timeLog/services/TimeLogsService.js"></script>

        <script src="/static/scripts/appRoutes.js"></script>
        <script src="/static/scripts/app.js"></script>

        <!-- directives -->
        <script src="/static/scripts/directives/draggable.js"></script>
        <script src="/static/scripts/directives/droppable.js"></script>
        <script src="/static/scripts/directives/sortable.js"></script>
        <script src="/static/scripts/directives/select2.js"></script>

        <script src='/static/scripts/vendor/textAngular/dist/textAngular-sanitize.min.js'></script>
        <script src='/static/scripts/vendor/textAngular/dist/textAngular.min.js'></script>
        <script src="/static/scripts/vendor/angular-ui-select/dist/select.min.js"></script>

        <script src="/static/scripts/vendor/angular-macgyver/lib/macgyver.min.js"></script>

        <script src="/static/scripts/vendor/ng-file-upload/angular-file-upload.min.js"></script>

        <script src="/static/scripts/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="/static/scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    </base>
    </body>
</html>
